services:
  db_primary:
    image: postgres:16
    container_name: db_primary
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: flight_booking
    ports:
      - "5432:5432"
    volumes:
      - ./db/init:/docker-entrypoint-initdb.d
      - db_primary_data:/var/lib/postgresql/data

volumes:
  db_primary_data:

services:
  backend:
    build: ./backend
    container_name: backend
    depends_on:
      - db_primary
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db_primary
      DB_PORT: 5432
      DB_USER: postgres
      DB_PASSWORD: postgres
      DB_NAME: flight_booking
